#container {
    background-image: url("../img/blackboard.jpg");

}

#number-projects-nd {
   font-size: 60px;
}

#total-donations-nd {
   font-size: 60px;
}

#n-donations{
    background: #58D68D;
    position: relative;
    font-size: 29px;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 0;
}

.chart-title{
    background-color: #F4F6F6;
}

.dc-chart g.row text {
   fill: black;
   font-size: 12px;
}

#total-projects {
   background: #58D68D;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0px;
}

#net-donations {
   background: #58D68D;
   width: 200px;
   position: relative;
   height: 60px;
   font-size: 29px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 12px;
   padding-bottom: 0px;
}


.dc-select-menu {
   background: #58D68D;
   width: 100%;
   border: none;
   position: relative;
   height: 31px;
   font-size: 15px;
   color: white;
   vertical-align: middle;
   text-align: center;
   padding-top: 4px;
   padding-bottom: 0px;

}

#menu-select{
    padding: 27px 0;
}

.intro_button{
    margin: 0 auto 10px auto;
    display: block;
    width: 150px;
    height: 50px;
    background-color: #d58512;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
}
.intro_button:hover{
    background-color: #58D68D;
}