<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>School Donations Dashboard</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/keen-dashboards.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
    <link rel="stylesheet" href="../static/lib/css/introjs.css" />
</head>
<body class="application" id="container">

    <!-- Navigation bar -->
   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="./">School Donations Dashboard</a>
            </div>
        </div>
    </div>

   <div id="start-tour" class="container-fluid">
       <div class="row">


           <!-- Button to start the tour -->
           <div class="col-sm-12">
                <button class="intro_button" type="button" autofocus onclick="javascript:introJs().start();">
                    Start Tour!</button>
           </div>
           <!-- Extra div to include an introduction in the tour -->
           <div class="col-sm-6 col-sm-offset-4" data-step="1"
                data-intro="This dashboard was created using a dataset from DonorsChoose.org.
                <br />The data represents school donations broken down by different attributes over a timeline.
                <br />In each graph you can select the values you want to see reflected in the rest of the dashboard.
                E.g. Select only 2016 in the time-line or select only Technology resources in the Resources graph.
                <br />Now we will see an explanation of each graph" style="font-weight: normal" data-position="center">
           </div>
       </div>
    </div>

   <!-- Divs with graphs -->
   <div id="outer" class="container-fluid">

        <!-- First row -->
        <div class="row" >
            <!-- US Map -->
            <div class="col-sm-5">
                <div class="chart-wrapper" data-step="2"
                     data-intro="Select one or multiple states to see the specific data for them. "
                     style="font-weight: normal" data-position="right">
                    <div class="chart-title">
                        Donation States (Map)<br />   <span class="small-text">
                        (It overwrites the selection in the select menu)</span>
                    </div>
                    <div class="chart-stage">
                        <div id="us-chart"></div>

                </div>
                <div> Original from
                    <a href="http://adilmoujahid.com/posts/2015/01/interactive-data-visualization-d3-dc-python-mongodb"
                       target="_blank">Adil Moujahid's tutorial</a> </div>
                </div>
            </div>
            <!-- End US Map -->

            <!-- Metric Total Projects -->
            <div class="col-sm-4">
                <div class="chart-wrapper" data-step="3"
                    data-intro="Total number of projects for the selected criteria."
                    style="font-weight: normal" data-position="right">
                    <div class="chart-title">
                        Total Number of Projects
                    </div>
                    <div id="num-projects" class="chart-stage" >
                        <div id="number-projects-nd"></div>
                    </div>
                </div>
            </div>
            <!-- End Metric Total Projects -->

            <!-- Metric Total Donations -->
            <div class="col-sm-4 ">
                <div class="chart-wrapper" data-step="4"
                    data-intro="Total amount donated to the projects for the selected criteria."
                    style="font-weight: normal" data-position="left">
                    <div class="chart-title">
                        Total Donations in USD
                    </div>
                    <div  id="total-donations" class="chart-stage">
                        <div id="total-donations-nd"></div>
                    </div>
                </div>
            </div>
            <!-- End Metric Total Donations -->
        </div>

        <!-- Second row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <!-- Time Chart -->
                    <div class="col-sm-6">
                        <div class="chart-wrapper" data-step="5"
                             data-intro="Number of donations per month/year."
                         style="font-weight: normal" data-position="right">
                            <div class="chart-title">
                                Number of Donations
                            </div>
                            <div class="chart-stage">
                                <div id="time-chart"></div>
                            </div>
                        </div>
                    </div>
                    <!-- End Time Chart -->

                    <!-- Funding Pie Chart -->
                    <div class="col-sm-3">
                        <div class="chart-wrapper" data-step="6"
                             data-intro="Amount of projects that got the funding vs. the ones with funding expired
                             and reallocated." style="font-weight: normal" data-position="left">
                            <div class="chart-title">
                                Funding Status
                            </div>
                            <div class="chart-stage">
                                <div id="funding-chart"></div>
                            </div>
                        </div>
                    </div>
                    <!-- End Funding Pie Chart-->
                </div>
                <!-- Third row -->
                <div class="row">
                    <!-- Primary Focus Area Pie Chart -->
                    <div class="col-sm-4">
                        <div class="chart-wrapper" data-step="7"
                             data-intro="Primary area of focus for the different projects."
                             style="font-weight: normal" data-position="right">
                            <div class="chart-title">
                                Primary Focus Area
                            </div>
                            <div class="chart-stage">
                                <div id="primary-focus-area-pie-chart"></div>
                            </div>
                        </div>
                    </div>
                    <!-- End Primary Focus Area Pie Chart -->

                    <!-- Resources Row Chart -->
                    <div class="col-sm-3">
                        <div class="chart-wrapper">
                            <div class="chart-title">
                                Resources Type
                            </div>
                            <div class="chart-stage" data-step="8"
                                 data-intro="Types of resources the projects were created for."
                                 style="font-weight: normal" data-position="right">
                                <div id="resource-type-row-chart"></div>
                            </div>
                        </div>
                    </div>
                    <!-- End Resources Row Chart -->

                    <!-- Poverty Row Chart -->
                    <div class="col-sm-3">
                        <div class="chart-wrapper" data-step="9"
                                     data-intro="Poverty level of the people beneficiary of the project"
                                     style="font-weight: normal" data-position="left">
                            <div class="chart-title">
                                Poverty Level
                            </div>
                            <div class="chart-stage">
                                <div id="poverty-level-row-chart"></div>
                            </div>
                        </div>
                    </div>
                    <!-- End Poverty Row Chart -->

                </div>
            </div>
        </div>
   </div>

   <hr>
   <p class="small text-muted">Irene Garcia (2017) - Project 2 Code Institute</p>
   <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
   <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
   <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
   <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
   <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
   <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>

   <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
   <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
    <script src="{{ url_for ('static', filename='lib/js/intro.js')}}"></script>
   <!--<script src="../static/lib/js/intro.js" type="text/javascript"></script>-->

</body>
</html>